<p id="notice"><%= notice %></p>

<p>There are <b><%= @book_count %></b> books in the database.</p>

<div class="button-bar">
  <%= link_to "Upload a Book", new_book_path, :class => "button" %>
  <%= link_to "Transfer From Archive.org", archive_org_setup_path(:id => params[:id]), :class => "button" %>
</div>

<p>
  <strong>Name:</strong>
  <%= @shelf.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @shelf.group.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= @shelf.created_at %>
</p>

<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
